version: '3.8'

services:

  web:
  
   build:
    context: ./php
    dockerfile: Dockerfile
   depends_on: 
    - database
   container_name: php_apache_webserver
   volumes: 
    - ./php:/var/www/html/
   ports:
    - ${LOCAL_WEB_PORT}:${CON_WEB_PORT}
  database:
    container_name: mysql8
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment: #setting default values
      MYSQL_ROOT_PASSWORD: ${ROOT_PASS}
      MYSQL_DATABASE: ${STARTUP_DB} #database created on startup is called "test_db"
      MYSQL_USER: ${SQL_USER}
      MYSQL_PASSWORD: ${SQL_PASS}
    ports:
      - ${LOCAL_SQL_PORT}:${CON_SQL_PORT}
      
    volumes:
     - ./mysql8:/var/lib/mysql
     
  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin:latest
    ports:
     - ${LOCAL_PMA_PORT}:${CON_PMA_PORT}
     
    environment:
      MYSQL_ROOT_PASSWORD: ${ROOT_PASS}
      PMA_HOST: ${PMA_HOST}
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
